{
    "main":{
        "token": "",
        "prefix": ""
    },

    "permissions":{
        "admin_role_name": ""
    },

    "userJoin":{
        "welcome_msg": [],
        "welcome_channel": ""
    }
}